version: '3.8'

services:
  astro-app:
    image: ${DOCKERHUB_USERNAME}/airflow-02-reddit-project:latest
    container_name: airflow-02-reddit-project
    # 权限修复与启动逻辑
    command: >
      bash -c "
      airflow db migrate &&
      airflow roles create Admin || true &&
      airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com || true &&
      airflow sync-perm &&
      (airflow webserver & airflow scheduler)
      "
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=sqlite:////usr/local/airflow/airflow.db
    ports:
      - "8085:8080"
    networks:
      - data_lake_net

# 注意：顶级 networks 必须与 services 顶格对齐
networks:
  data_lake_net:
    external: true